@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@700&display=swap');


.App {
  text-align: center;
}

.dashboard {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  margin-top: 2rem;
}

.title {
  margin-top: 2rem;
  margin-bottom: -3rem;
  text-decoration: underline;
  font-weight: 600;
  margin-left: -8rem;
}

.form {
  margin-top: -25rem;
  margin-left: 15rem;
}

.logout {
  margin-left: 88rem;
  text-decoration: underline;
  font-weight: 600;
}